<header>
    <nav class="container">
        <h2><i class="fa-solid fa-table-cells-large"></i> GRIDBOX</h2>

        <i class="fa-solid fa-bars" id="menu-icon" (click)="handleMenu()"></i>

        <ul class="main-menu" id="menu-controler">
            <li><a href="/">Home</a></li>
            <li><a href="/">Magazine</a></li>
            <li><a href="/">Dropdown <i class="fa-solid fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li><a href="/">Dropdown 1</a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 3</a></li>
                    <li><a href="/">Dropdown 4</a></li>
                </ul>
            </li>
            <li><a href="/">content Styles <i class="fa-solid fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li><a href="/">Dropdown 1</a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 3</a></li>
                    <li><a href="/">Dropdown 4</a></li>
                </ul>
            </li>
            <li><a href="/">Full Width</a></li>
        </ul>
    </nav>
</header>