<section class="container">
    <div class="porduct-conatiner">
        <div>
            <img src="https://images.unsplash.com/photo-1468495244123-6c6c332eeece?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1921&q=80"
                alt="img">
            <h3>Magazine wordpress Theme</h3>
            <span>January 24,2016/Thomas W/Featured,Travel</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eaque eos, sunt vel maxime recusandae?
            </p>
            <button>READ MORE</button>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1596207498818-edb80522f50b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                alt="img">
            <h3>Easy to use Theme Option</h3>
            <span>January 24,2016/Thomas W/Featured,Travel</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eaque eos, sunt vel maxime recusandae?
            </p>
            <button>READ MORE</button>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1615655406736-b37c4fabf923?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z2FkZ2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="img">
            <h3>Responsive Layout</h3>
            <span>January 24,2016/Thomas W/Featured,Travel</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eaque eos, sunt vel maxime recusandae?
            </p>
            <button>READ MORE</button>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1609081219090-a6d81d3085bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGdhZGdldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="img">
            <h3>Beautiful Typography</h3>
            <span>January 24,2016/Thomas W/Featured,Travel</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eaque eos, sunt vel maxime recusandae?
            </p>
            <button>READ MORE</button>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1515940279136-2f419eea8051?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGdhZGdldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="img">
            <h3>Grid Layout on Archives</h3>
            <span>January 24,2016/Thomas W/Featured,Travel</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eaque eos, sunt vel maxime recusandae?
            </p>
            <button>READ MORE</button>
        </div>
        <div>
            <img src="https://images.unsplash.com/photo-1661961112835-ca6f5811d2af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="img">
            <h3>Flexible Post Settings</h3>
            <span>January 24,2016/Thomas W/Featured,Travel</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eaque eos, sunt vel maxime recusandae?
            </p>
            <button>READ MORE</button>
        </div>
    </div>
</section>